.topBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  width: 100%;
  height: 64px;
  background: #FFFFFF;
  z-index: 2;

  &_icons {
    width: 24px;
    min-width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_menuBtn {
    margin-right: 32px;
    background-image: url(/src/assets/icons_svg/menu_btn.svg);
  }

  &_infoBar {
    margin-right: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &_icon {
      margin-right: 8px;
      width: 28px;
      min-width: 28px;
      height: 28px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(/src/assets/icons_svg/home.svg);
    }

    &_title {
      margin-right: 32px;
      color: #212B36;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.15px;
    }

    &_path {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;
      padding-top: 8px;
    }

    &_text {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.44px;

      &__dark {
        color: #383874;
      }
      &__gray {
        color: #C6CBD9;
      }
    }
  }

  &_settingsBar {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 24px;

    &_language {
      background-image: url(/src/assets/icons_svg/language_gray.svg);
    }
    &_settings {
      background-image: url(/src/assets/icons_svg/setting_gray.svg);
    }
    &_support {
      background-image: url(/src/assets/icons_svg/support_gray.svg);
    }
    &_notify {
      background-image: url(/src/assets/icons_svg/notification_gray.svg);
    }
  }
}
