.sideBar {
  width: 96px;
  min-width: 96px;
  height: 100%;
  padding: 16px 0;
  background: #FFFFFF;
  box-shadow: inset -1px 0px 0px #E5E5E5;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;

  &_logo {
    margin: 0 auto;
    margin-bottom: 32px;
    width: 64px;
    min-width: 64px;
    height: 64px;
  }

  &_menu {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      &__active {
        border-left: 2px solid #23A698;
      }
    }

    &_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 64px;
    }

    &_icon {
      width: 24px;
      height: 24px;
  
      &__inactive {
        opacity: 0.4;
      }
    }
  }
}
